<h2>Follow Users</h2>
  <table class='table'>
    <thead>
      <tr>
        <th>Image</th>
        <th>name</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
              <%= image_tag user.get_profile_image(50,50) %>
          </td>
          <td><%= user.name %></td>
          <td>
            <p>フォロー数：<%= user.followings.count %></p>
          </td>
          <td>
              <p>フォロワー数：<%= user.followers.count %></p>
          </td>
          <td><%= link_to 'Show', user %></td>
        </tr>
      <% end %>
    </tbody>
  </table>